name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install wasm-pack
        run: cargo install wasm-pack

      - name: Build
        run: ./scripts/build.sh

      - name: Run tests
        run: cargo test --verbose
